# Mac
.DS_Store

# Secrets
.env

# Data
data
*_data
backup_*
*.csv
*.parquet

*/models/artifacts

# Logs
logs
log
*.log

# Images
imgs
*.png
*.jpg
*.jpeg

# Python
venv
.venv
__pycache__
*.pkl

# .ipynb
.notebooks
2026-*
