# Mac
.DS_Store

# VS Code
.vscode

# Secrets
.env

# Data
data
*_data
backup_*
*.csv
*.parquet

*/models/artifacts
.model_artifacts

# Logs & Notes
logs
log
*.log

TODO

# Images
imgs
*.png
*.jpg
*.jpeg

# Python
venv
.venv
__pycache__
*.pkl
*.egg-info

# .ipynb
.notebooks
2026-*
